@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&display=swap");

@import "tailwindcss";

@theme {
  --font-inter: "Inter", sans-serif;
  --color-primary: #24389c;
  --color-secondary: #565c84;
  --font-manrope: "Manrope", sans-serif;
}
@custom-variant dark (&:where(.dark, .dark *));

*,
*::before,
*::after {
  transition-property: background-color, border-color, color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}
